In [2]:
import psycopg2 as pg
import sys,os
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
connection = pg.connect("host = '192.168.214.84' dbname=dvdrental user=postgres password='!@#$%^&*'")
print("Database connected successful")

NameError: name 'pg' is not defined

In [16]:
df = pd.read_sql('''
    SELECT * from public.rental
    
 
    ;
''', connection, index_col='rental_id', parse_dates=['rental_date', 'return_date'])

In [17]:
df.head()

Empty DataFrame
Columns: [rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []