# Objective
This analysis involves checking parcel with no id number and kra pin.The approach for analysis will be using a key called not approved under column owner identification type and also checking null in the column.

# LIBRARIES TO IMPORT
* 1.Pandas
* 2.Pyscopg2
* 3.Regex

In [2]:
# import pandas
import pandas as pd
# import pyscopg2
import psycopg2 as pg
# import regex
import re
import json

# STEP 1:DATABASE CONNECTION

In [10]:
myconnection = pg.connect(" host= '192.168.214.252' dbname=molpp_v2_30_10 user=wainaina password='1234'")

# STEP 2:IMPORT DATA

In [15]:
def data_count(block_list):
    dic={}
    for i in block_list:
        query=(f'''
    SELECT count(*) AS "count"
    FROM "main"."land_data_cleaning_datacleaningfile"
    LEFT JOIN "land_data_cleaning_department"."parcel_information" "Parcel Information" ON "main"."land_data_cleaning_datacleaningfile"."id" = "Parcel Information"."data_cleaning_file_id" LEFT JOIN "land_data_cleaning_department"."parcel_owners" "Parcel Owners" ON "Parcel Information"."id" = "Parcel Owners"."land_parcel_id"
    WHERE ((lower("main"."land_data_cleaning_datacleaningfile"."file_number") like  '%{i}%' )
       AND "Parcel Owners"."owner_identification_type" = 'NOT_AVAILABLE');''')

        data_count=pd.read_sql(query,myconnection)
        # print with no indexes
    #     data_count_no=data_count.to_string(index=False)
        dic[i]=str(data_count.values[0][0])
       
    return dic

In [13]:
block_list = ['nairobi/block 98','nairobi/block 82','nairobi/block 32','nairobi/block 96']
data_count(block_list)

with open("count.json","w") as outfile:
          json.dump(data_count(block_list),outfile)

# Creating object from Daframe

In [14]:
# converting to dictionary
dataframe=data_count.to_dict();
print(dataframe)

AttributeError: 'function' object has no attribute 'to_dict'

# STEP 2:IMPORT DATA

In [7]:
def data_count(block_list):
    dic={}
    for i in block_list:
        if isinstance(i, (int)):
            block_number=f"NAIROBI/BLOCK {i}"
        else:
            block_number = i
        query=(f'''
    SELECT count(*) AS "count"
    FROM "main"."land_data_cleaning_datacleaningfile"
    LEFT JOIN "land_data_cleaning_department"."parcel_information" "Parcel Information" ON "main"."land_data_cleaning_datacleaningfile"."id" = "Parcel Information"."data_cleaning_file_id" LEFT JOIN "land_data_cleaning_department"."parcel_owners" "Parcel Owners" ON "Parcel Information"."id" = "Parcel Owners"."land_parcel_id"
    WHERE ((lower("main"."land_data_cleaning_datacleaningfile"."file_number") like  '%{block_number}%' )
       AND "Parcel Owners"."owner_identification_type" = 'NOT_AVAILABLE');''')

        data_count=pd.read_sql(query,myconnection)
        # print with no indexes
    #     data_count_no=data_count.to_string(index=False)
        dic[i]=int(data_count.values[0][0])
       
    return dic

In [8]:
block_list = ['nairobi/block 98','nairobi/block 82','nairobi/block 32','nairobi/block 96']
data_count(block_list)

with open("count.json","w") as outfile:
          json.dump(data_count(block_list),outfile)

# Creating object from Daframe

In [ ]:
# converting to dictionary
dataframe=data_count.to_dict();
print(dataframe)

In [ ]:
# Read block list
query=("SELECT * from analytics.block_number")
block=pd.read_sql(query,myconnection)
parcelist=block['Block Number'].to_list()
data_count(parcelist)

In [123]:
# Read block list
query=("SELECT * from analytics.block_number")
block=pd.read_sql(query,myconnection)
parcelist=block['Block Number'].to_list()
data_count(parcelist)

In [102]:
block_list = ['nairobi/block 98','nairobi/block 82','nairobi/block 32','nairobi/block 96']
data_count(block_list)

with open("count.json","w") as outfile:
          json.dump(data_count(block_list),outfile)

# Creating object from Daframe

In [53]:
# converting to dictionary
dataframe=data_count.to_dict();
print(dataframe)

{'count': {0: 1966}}

In [17]:
# Read block list
query=("SELECT * from analytics.block_number")
block=pd.read_sql(query,myconnection)
parcelist=block['Block Number'].to_list()
data_count(parcelist)

{5: '32246',
 7: '35934',
 34: '3235',
 42: '2739',
 14: '7245',
 15: '5799',
 35: '3279',
 51: '3137',
 22: '3009',
 23: '3160',
 26: '4020',
 37: '3069',
 27: '2953',
 31: '2715',
 32: '3507',
 38: '2966',
 55: '2729',
 60: '2720',
 61: '3197',
 62: '3121',
 63: '3752',
 72: '4137',
 73: '3006',
 74: '3009',
 76: '3370',
 77: '3080',
 78: '3269',
 79: '3140',
 82: '4759',
 83: '2811',
 85: '2808',
 87: '2933',
 90: '2783',
 91: '3193',
 92: '2967',
 93: '3962',
 94: '2786',
 96: '3382',
 98: '2783',
 99: '2728',
 101: '830',
 102: '866',
 103: '799',
 104: '763',
 106: '737',
 108: '576',
 111: '647',
 112: '960',
 113: '571',
 114: '538',
 115: '574',
 116: '844',
 117: '680',
 118: '823',
 119: '829',
 120: '593',
 121: '509',
 122: '615',
 123: '722',
 124: '610',
 125: '752',
 126: '887',
 127: '719',
 133: '621',
 134: '952',
 135: '813',
 138: '571',
 139: '574',
 140: '1798',
 141: '566',
 144: '533',
 145: '500',
 146: '627',
 147: '593',
 150: '408',
 151: '704',
 152: '516',
 153: '523',
 154: '621',
 155: '445',
 158: '569',
 162: '422',
 164: '339',
 166: '325',
 170: '293',
 171: '380'}