**Regular expressions help with recognizing,detecting and extracting patterns in text data**

# Extract Information Using Regular expressions(REGEX)

**r** expression is used to create a raw string.Python raw string treats backslash (\) as a literal character.

In [1]:
# normal string vs raw string
path="C:\desktop\nathan"
print("string:", path)

string: C:\desktop
athan

In [2]:
path=r"C:\desktop\nathan" #raw string
print("raw string:", path)

raw string: C:\desktop\nathan

Python  has a built in module to work with regular expressions called re.Some of the commonly used methods from 

**re** module are:

     1.re.match()
     
     2.re.search()
     
     3.re.findall()

**1.re.match()**

The re.match functions returns a match object on success and none on failure

In [4]:
import re
# match a word at the beginning of a string

result=re.match('Analytics', r'Analytics Vidhya is the largest')
print(result)

result2=re.match('largest', r'Analytics Vidhya is the largest community')
print(result2)

<re.Match object; span=(0, 9), match='Analytics'>
None

since output of the re.match is an object we will use group() function to get matched expression

In [10]:
print(result.group())

Analytics

**2.re.search()**

Matches the single occurence of a pattern in the entire string

In [12]:

# search for the pattern "founded" in a given string
result= re.search('founded',r'Andred NG founded Cousera.He also founded deeplearning.ai')
print(result.group())

founded

**3.re.search()**

it return all occurences of the pattern from the string.It is recommended to use re.findall() always,it can work like both re.search() and re.match()

In [14]:
result=re.findall('founded',r'Andred NG founded Cousera.He also founded deeplearning.ai')
print(result)

['founded', 'founded']

# Special sequences

These are used to extract different kinds of information from a given text

1. **\b** returns a match where the specified pattern is at end of a word

In [15]:
str=r'Analytics Vidhya is the largest Analytics Community of India'
#Checkif there is any word that ends with "est"
x=re.findall(r"ics\b",str)
print(x)

['ics', 'ics']

2.**\d** returns a match where the string contains digits(numbers from 0-9)

In [17]:
str="2 million monthly visits in jan 19."
#check if the string contains any digits (number from 0-9)
x = re.findall("\d", str)
print(x)
if (x):
    print("Yes,there is at least one match!")
else:
        print("No match")

['2', '1', '9']
Yes,there is at least one match!

3.**\D** returns a match where the string does not contain any digit

In [18]:
str="2 million monthly visits in jan 19."
#check if the word character does not contain any digits (numbers from 0-9):
x = re.findall("\D", str)
print(x)
if (x):
    print("Yes,there is at least one match!")
else:
    print("No match")

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'j', 'a', 'n', ' ', '.']
Yes,there is at least one match!

In [19]:
str="2 million montly visits' 19"
#check if the word does not contain any digits(numbers from 0-9):
x= re.findall("\D+", str)
print(x)
if (x):
    print("Yes,there is at leat one match")
else:
    print("No match")

[" million montly visits' "]
Yes,there is at leat one match

4.**\w** helps in extraction of alphanumeric characters only(characters from a to Z,digits from 0-9, and the underscore_character)

In [22]:
str="2 million montly_Visits!"
#returns a match at every word character(characters from a to Z,digits from 0-9, and the underscore_character)
x=re.findall("\w",str)
print(x)
if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'l', 'y', '_', 'V', 'i', 's', 'i', 't', 's']
Yes, there is at least one match!

In [24]:
str= "2 million montly_visits!"
# returns a match at every word(characters from a to Z, digits from 0-9)
x=re.findall("\w+",str)
print(x)
if(x):
    print("Yes,there is at least one match!")
else:
    print("No match")

['2', 'million', 'montly_visits']
Yes,there is at least one match!

5.**\W** returns a match at every non aphanumeric character

In [21]:
str= "2 million monthly visits9!"
#returns a match at every NON word character (characters NOT betwwen a and Z. LIke "!", "?" white-space etc):
x=re.findall("\W",str)
print(x)
if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

[' ', '\\', ' ', '!']
Yes, there is at least one match!

# Metacharacters

Metacharacters are characters with a special meaning

1.(.)matches any character(Except newline character)

In [31]:
str="rohan and rohit recently published a research paper!"
x=re.findall("ro.", str)
x2=re.findall("ro..", str)

print(x)
print(x2)

['roh', 'roh']
['roha', 'rohi']

2.(^)starts with given pattern

In [5]:
str="Data"
#check if the string starts with 'DATA':
x=re.findall("^Science", str)
if (x):
    print("YES, the string starts with 'Data'")
else:
    print("No match")
#print(x)

No match

In [7]:
# try with a different sring
str="Big Data"
#check if the string starts with 'DATA':
x=re.findall("^Big", str)
if(x):
    print("YES, the string starts with 'Big'")
else:
    print("No match")

YES, the string starts with 'Big'

3.($)ends with given pattern

In [9]:
str="Data Science"
#check if the string ends with 'Science'
x=re.findall("Science$",str)
if(x):
    print("YES, the string end with 'Science'")
else:
    print("No match")

YES, the string end with 'Science'

4.(*)matches for zero or more occurences of the pattern to the left of it

In [10]:
str="easy eassy eay ey"
#check if thestring contains "ea" followed by 0 or more "s" characters and ending with y

x=re.findall("eas*y",str)
print(x)
if (x):
    print("Yes,there is at least one match!")
else:
    print("No match")

['easy', 'eassy', 'eay']
Yes,there is at least one match!

5.(+) matches one or more occurences of the pattern to the left of it

In [15]:
str= "easy eassy eay ey"
#check if the string contains "ea" followed by 1 or more "s" characters and ends with y
x=re.findall("eas+y",str)

print(x)
    
if(x):
        print("Yes, there is at least one match!")
else:
        print("No match")

['easy', 'eassy']
Yes, there is at least one match!

6.(?)matches zero or one occurence of the pattern left to it

In [17]:
str="easy eassy eay ey"
x=re.findall("eas?y", str)
print(x)
if(x):
    print("Yes,there is at least one match!")
else:
    print("No match")

['easy', 'eay']
Yes,there is at least one match!

7."|" either or

In [18]:
str="Analytics Vidhya is the largest data science community of India"
#check if the string contains either "data"
x=re.findall("data|India",str)
print(x)
if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

['data', 'India']
Yes, there is at least one match!

# Sets

A set is a bunch of characters inside a pair of square brackets[].

In [19]:
str = "Analytics Vidhya is the largest data science community of India"

#Check for the characters y, d, or h, in the above string
x = re.findall("[ydh]", str)
print(x)
if (x):
    print("Yes,there is at least one match!")
else:
    print("No Match")

['y', 'd', 'h', 'y', 'h', 'd', 'y', 'd']
Yes,there is at least one match!

In [20]:
str = "Analytics Vidhya is the largest data science community of India"

#Check for the characters y, d, or h, in the above string
x = re.findall("[a-g]", str)
print(x)
if (x):
    print("Yes,there is at least one match!")
else:
    print("No Match")

['a', 'c', 'd', 'a', 'e', 'a', 'g', 'e', 'd', 'a', 'a', 'c', 'e', 'c', 'e', 'c', 'f', 'd', 'a']
Yes,there is at least one match!

lets solve a problem

In [27]:
str= "Mars' average distance from the sun is roughly 230 million km and its orbital period is 687 (Earth) days."
# extract the numbers starting with 0 to 4 from the above string
x=re.findall(r"[5-9]\d+", str)

print(x)
if (x):
    print("Yes,there is at least one match!")
else:
    print("No match")

['687']
Yes,there is at least one match!

**[^]** Check whether string has other characters mentioned after ^

In [28]:
str="Analytics Vidhya is the largest data science community of India"
#check if every word character has characters other than y,d, or h
x = re.findall("[^ydh]", str)
print(x)
if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

['A', 'n', 'a', 'l', 't', 'i', 'c', 's', ' ', 'V', 'i', 'a', ' ', 'i', 's', ' ', 't', 'e', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', ' ', 'o', 'f', ' ', 'I', 'n', 'i', 'a']
Yes, there is at least one match!

3.**[a-zA-Z0-9]** :Check whether string has terms starting with characters other than alphanumeric.

In [33]:
str= "@AV Largest Data science community #AV!!"
# extract words that start with a special character
x=re.findall("[^a-zA-Z0-9 ]\w+",str)
print(x)

['@AV', '#AV']

# Solve Complex Queries
lets us try solving some complex queries using regex

# Extracting Email ID's

In [35]:
str= 'Send a mail to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'

# \w matches any alpha numeric character
# + for repeats a character one or more time
x = re.findall('[a-zA-Z0-9._-]+@\w+\.com', str)

# printing of list
print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

# Extracting Dates

In [37]:
text = "London Olympic 2012 was held from 2012-07-27 to 2012/08/12"
# '\d{4}' repeats '\d' 4 times
match = re.findall('\d{4}.\d{2}.\d{2}', text) # means occurence of any character
print(match)

['2012-07-27', '2012/08/12']

In [38]:
text="LOndon Olympic 2012 was held from 27 september 2012 to 12 August 2012"
#'\w{3,10}' repeats '\w' 3 to times
match = re.findall('\d{2}.\w{3,10}.\d{4}', text)
print(match)

['27 september 2012', '12 August 2012']

In [40]:
# extract dates with varying lengths

text="LOndon Olympic 2012 was held from 27 september 2012 to 12 August 2012"
#'\w{3,10}' repeats '\w' 3 to 10 times
match=re.findall('\d{2}.\w{3,10}.\d{4}', text)
print(match)

['27 september 2012', '12 August 2012']

# Extracting Title from Names-Titanic Dataset

In [3]:
import pandas as pd

# load dataset
data=pd.read_csv("data/titanic.csv")

In [45]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [47]:
data['Name'].tail(10)

881                          Markun, Mr. Johann
882                Dahlberg, Miss. Gerda Ulrika
883               Banfield, Mr. Frederick James
884                      Sutehall, Mr. Henry Jr
885        Rice, Mrs. William (Margaret Norton)
886                       Montvila, Rev. Juozas
887                Graham, Miss. Margaret Edith
888    Johnston, Miss. Catherine Helen "Carrie"
889                       Behr, Mr. Karl Howell
890                         Dooley, Mr. Patrick
Name: Name, dtype: object

# Method1: One is to split on pandas dataframe and extract the title

In [51]:
name="Allen, Mr. William Henry"
name2=name.split(".")
print (name2)

['Allen, Mr', ' William Henry']

In [62]:
name2[0].split(',')

['Allen', ' Mr']

In [3]:
title=data['Name'].apply(lambda x: x.split(".")[0].split(",")[1])
title.value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Col               2
 Major             2
 Mlle              2
 Sir               1
 Don               1
 Capt              1
 Mme               1
 Ms                1
 Jonkheer          1
 Lady              1
 the Countess      1
Name: Name, dtype: int64

This method might not work all the time.Therefore , another more robust way is to define pattern and search for it using regex

# Method2:Use Regex to extract titles

In [1]:
import re
def splitIt(name):
    return re.findall("\w+\.",name)[0]

In [4]:
title=data['Name'].apply(lambda x: splitIt(x))
title.value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Major.         2
Mlle.          2
Col.           2
Jonkheer.      1
Lady.          1
Capt.          1
Don.           1
Ms.            1
Mme.           1
Sir.           1
Countess.      1
Name: Name, dtype: int64

In [17]:
data='Markun, Mr. Johan'
result=re.findall('\w+\.',data)
print(result)

['Mr.']