## Arithmetic Operators

In [6]:
a = 10
b = 5
# sum
sum = a+b
sum_a= "peter" + "2"
print(sum)
print(sum_a)
# division
division = a*b
division_a = "peter" * 2
print(division)
print(division_a)
# modulus
modulus = a % b
print(modulus)
# floa division
float
print(modulus)

15
peter2
50
peterpeter
0
0

## Comparision operators

In [10]:
a= 30
b =10
# greater than
print (a > b)
# less than
print (a<b)
# equals to
print (a==b)

True
False
False

## Logical operators

In [16]:
# and operator
print (0 and 9)
print (9 and 0)
# or operator
print (0 or 3)
print (3 or  0)

0
0
3
3

# Variable Assignment

In [23]:
a= 5
print (a)
print("jj")

5
jj

## How variables work in Python

In [19]:
a = 7
b = a
a = 3
print (a)
print(b)

3
7

## Data type

In [21]:
a=5
type(a)
b="waina"
print(b)

waina

## Conditional Statements

In [33]:
# if statement
a=3
b=1
if a > b:
 print("greater")
elif a == b:
 print("is same")
else:
    print("less than")

greater

### Problem one: Take a variable x and print "Even" if number is divided by 2 , otherwise print "Odd"

In [45]:
x=3
if x%2==0:
    print("Even")
else:
    print("Odd")

Odd

Problem 2: Take a variable y and print "Grade A" if y is greater than 90 , "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" otherwise

In [48]:
y =10
if y > 90 :
    print("Grade A")
elif y > 60:
    print("Grade B")
elif y <=90:
    print("Grade F")

Grade F

In [50]:
if 5 > 10:
    print("fan")
elif 8 !=9:
    print("glass")
else:
    print("Cream")

glass

# Loops in python

In [56]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

## Problem 1: Print numbers between 10 and 50

In [58]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

## Problem 2: odd numbers between 10 and 50

In [59]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

## problem 3 : print even numbers between 10 and 50

In [60]:
start, end = 10, 50
# iteration
for num in range(start, end + 1):
   # check
   if num % 2 == 0:
      print(num, end = " ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [61]:
for i in range (11,15,3):
    print(i)

11
14

In [67]:

for i in range(19):
    print("f")

f
f
f
f
f
f
f
f
f
f
f
f
f
f
f
f
f
f
f

# Functions in Python

## Problem: Create a function that takes two numbers as argument and returns the greater of the two

In [78]:
def compare(x,y):
    if(x>y):
        greater=x
    else:
        greater=y
        
    return greater

In [79]:
compare(3,4)

4

In [85]:

def odd(a):
    if a%2==0:
        print("not odd")
    else:
        print("odd")

In [86]:
odd(9)

odd

In [88]:
def min (a,b):
    if (a>b):
        return b
    elif (a == b):
        return 'The numbers are equal'
    else:
        return a

In [89]:
min (200,400)

200

## Function to convert miles to km

In [95]:
miles=10
def convert(miles):
    # formulae
    return 1.6 * miles

In [96]:
convert(miles)

16.0

# Lists

In [100]:
list=[2,'e',4,4]
list[1]

'e'

In [101]:
list.append(5)
list

[2, 'e', 4, 4, 5]

In [102]:
list.extend([9,0])
list

[2, 'e', 4, 4, 5, 9, 0]

In [114]:
list.remove(0)
list

ValueError: list.remove(x): x not in list