## Creating data
There are two core objects in pandas:the **DataFrame** and the **Series**

**DataFrame**
A DataFrame is a table.It contains an array of individuals entries with values.Each entry corresponds to a row(records) and a column.

In [6]:
# DataFrame example
# importing pandas library
import pandas as pd
# dataframe function
pd.DataFrame({'Yes':['50','21'], 'No':['131','2']})

  Yes   No
0  50  131
1  21    2

In [8]:
# DataFrame with string values
pd.DataFrame({'Bob':['I liked it','It was awful'],'Sue':['Pretty good','Bland']})

            Bob          Sue
0    I liked it  Pretty good
1  It was awful        Bland

The list of row labels used in a DataFrame is known as index.We can assign values to it by using an index parameter in our constructor:

In [9]:
pd.DataFrame({'Bob':['I liked it','It was awful'],'Sue':['Pretty good','Bland']},
            index=['Product A','Product B'])

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  It was awful        Bland

# Series
A series is a sequence of data values.If a DataFrame is a table ,a Series is a list,you can create one with nothing more than list

In [12]:
# implenting series
pd.Series(['10','12','3','5'])

0    10
1    12
2     3
3     5
dtype: object

In [ ]:
A series is a single column of DataFrame.Column values can be assigned to a series using inex parameter

In [14]:
pd.Series(['2016 sales','2015 sales'],name='Product A')

0    2016 sales
1    2015 sales
Name: Product A, dtype: object